[2021-02-01 16:11] gobbedy opened #1 "only id supported?"
Looks great!

From the readme, am I to understand that the ```search_submissions``` method only supports the ```ids``` parameter?

[2021-02-01 16:59] mattpodolak commented on #1
Hi @gobbedy , currently only the `ids` parameter is supported for `search_submissions`.

v0.1.0 is being released this week which will include the full functionality for this method

[2021-02-01 17:22] gobbedy commented on #1
@mattpodolak that's awesome! then i may be your first user for v0.1.0

[2021-02-05 16:15] mattpodolak commented on #1
Hi @gobbedy, I'm closing this ticket as `v0.1.0` was released today which includes non-id based search for comments and submissions. Please open another ticket if you have any issues or feature requests.

[2021-02-05 16:15] #1 closed

[2021-02-06 17:37] gobbedy opened #2 "slower than psaw for me"
Hello,

Thanks for v0.1.0!

I just tried it and for me it was slower than psaw. Below is a standalone that compares the completion times for both. Result: pmaw took 5m16s and psaw took 2m42s.

Am I doing something wrong?

[code]

[2021-02-06 17:48] mattpodolak commented on #2
I'm running your code right now and will post an update shortly. My first guess is that with too many threads there is a degradation in performance due to competition.

On a side note, if you're using v0.1.0 can you update to v0.1.1, I released a fix today as there was an error in the time slicing, however, this only affects the data integrity not the performance.

[2021-02-06 17:55] mattpodolak commented on #2
@gobbedy I have an update, on my computer your code creates 40 workers, we initialize your search with 40 time slices for the specified period. A lot of these time slices do not contain any submissions, which unnecessarily extends the completion time.

I would recommend using less threads, or increasing the time window. Let me know if you have improved results and I'll close this ticket.

[2021-02-06 19:27] gobbedy commented on #2
Indeed, on my computer my code yields 60 workers. I just ran it (just pmaw) with a few other num_workers settings:
20: 4m22
10: 3m44
5: 3m47
4: 4m08
3: 2m33
2: 2m23

So with 2/3 workers it's faster than psaw, which is nice!

Increasing the time window wouldn't work for my application (I need to get information for specific time windows) -- though you bring up an insightful point: I believe there a

[2021-02-06 19:48] mattpodolak commented on #2
Unfortunately, since we don't know the distribution of posts or comments in a time period we can't confidently slice into an exact number of requests. If we assume a uniform distribution and slice based off this, some slices may have more than 100 posts/comments while some may still have 0.

For the `max_results_per_request`, I changed this to 100 as from my testing it appears that Pushshift has c

[2021-02-06 22:01] mattpodolak commented on #2
Can you share the checkpoint results which are printed when you run PMAW? I ran your code using and this is how it performed for the time window specified (returning around 20,000 submissions):

PMAW (10 threads) - 463s
PSAW - 547s

Note, I'm currently pulling a massive dataset from Pushshift in the background which has caused more requests to fail. Experimenting with 20+ threads appears to result

[2021-02-06 22:57] gobbedy commented on #2
I just ran it with 60 workers for the sake of this reply, let me know if you want a different ```num_workers```. Note also that I'm still at v0.1.0 for now. Below is the output I got:

[code]

[2021-02-06 23:11] mattpodolak commented on #2
To be honest, I'm impressed that the success rate was 98.67% for that many concurrent calls, perhaps you should try increasing the base rate-limit to 100+ (if you're using the default rate-averaging), otherwise, I'd recommend reducing the base_backoff.

[2021-02-06 23:17] gobbedy commented on #2
In the meantime I was poring over your code and I have a possible idea for a performance improvement.

My understand of the code is not total so forgive me if any of the following is wrong.

I notice that after each request, you split each time slice in two. So that if you start with, say 4 workers, after each "generation" of tasks you end up with 4 additional slices (so after 5 generations you'd

[2021-02-07 00:18] gobbedy commented on #2
I just tried my own suggestion and it took 288s (still 60 workers). Not sure if the improvement is just a coincidence. I noticed large swings in completion time for no reason sometimes.

I'm not coding my application only for myself so I'm not sure how dependable the high success rate is. I tried setting rate_limit to 120, and batch_size to 180 (after undoing my change) and it took 508s, with the

[2021-02-07 00:23] mattpodolak commented on #2
Thanks for the suggestions!

With regards to the time slices, the purpose of this is two-fold, first we try to minimize the number of potential idle threads. If we have 4 workers, our first generation will have 4 time slices. We search each time slice to find if there are results available. Since some time slices may return all the available items for that slice the number of slices in the queue w

[2021-02-07 00:24] gobbedy commented on #2
Just tried my change again and it took 289s. Seems likely it's an improvement.

[2021-02-07 00:27] gobbedy commented on #2
Will have a look at your comment tomorrow! I'm taking the rest of the evening off.

[2021-02-07 00:28] mattpodolak commented on #2
I realized I made a change in v0.1.1 which could be increasing the amount of wasted work
[code]
should be self.max_results_per_request*2, which will reduce the amount of requests for less than 100 items, I'll release a patch to fix this.

[2021-02-07 15:16] gobbedy commented on #2
In that case, perhaps you could check if there idle threads, and only set num = 2 if there are? Or if you want to get fancy, you could even check if any slices have remaining < max_results_per_request, such that there will be an idle thread in the next generation?

Anyway, I'll get out of your hair lol. I feel like I'm trying to micro-manage at this point.

Regarding the for loop, it may help you

[2021-02-07 18:06] mattpodolak commented on #2
Great idea, will use this to track future idle threads and slice accordingly.

I might do some benchmarking with `requests.Session()` and see if there is an improvement, right now I'm trying to improve the memory management as well, since I think there is a risk for a memory error if pulling millions of comments, open to any suggestions regarding this.

I'll update this ticket and close it once I'

[2021-02-07 19:22] mattpodolak commented on #2
Closing this ticket as with v0.1.2, `pmaw` with default settings for the provided parameters completes 12.7% faster than `psaw`.

[code]

With regards to the slicing logic, we can't determine if there will be an idle thread until after all requests in a batch have finished as there will only be an idle worker if the `req_list` < `batch_size`. The `req_list` grows as requests fail or are completed

[2021-02-07 19:22] #2 closed

[2021-02-07 20:31] gobbedy commented on #2
@mattpodolak awesome. Btw I'd like to share something with you by e-mail if possible?

[2021-02-07 23:24] mattpodolak commented on #2
Yeah sure, send me an email mpodola2@gmail.com

[2021-02-17 01:31] mattpodolak opened #5 "Length of response object can be incorrect sometimes"
With `mem_safe=True` if you don't iterate through the generator fully, responses are loaded in and add to the total length, not counting how many examples have been iterated through.

Code to recreate:
[code]

[2021-02-17 20:25] veonua opened #6 "I'd recommend to use parquet partitions"
it gives the smaller size and faster save\load time, while supported by the majority of data libraries

[2021-02-17 20:36] veonua commented on #6
wallstreetbets_posts.csv > 920Mb
wallstreetbets_posts.parquet ~ 120Mb

[2021-02-17 20:59] mattpodolak commented on #6
Hi @veonua, thanks for pointing this out. However, this is not functionality of the `pmaw` library, but post-processing done after responses have been retrieved with `pmaw` so I will be closing this issue.

The documentation will continue to provide an example using  `.csv`, as this benefits the largest number of users.

[2021-02-17 20:59] #6 closed

[2021-02-17 21:01] veonua commented on #6
the proposal was for a cache as well

[2021-02-17 21:18] mattpodolak commented on #6
ah okay, sorry, that wasn't clear. I know it takes up less space than `.pickle` which is currently being used, but I haven't done any benchmarks with it yet.

[2021-02-17 21:20] mattpodolak opened #7 "parquet for caching responses"
- Benchmark `parquet` cache speed for storing and retrieval against `pickle`
- Compare resulting cache sizes

[2021-03-04 06:31] ninjainventor opened #8 "If pushshift fails to return data, can crash trying to warn about it"
in gen_url_payloads

  all_ids = self.payload['ids']
                if len(all_ids) == 0 and self.limit > 0:
                    warnings.warn(
                        f'{self.limit} items were not found in Pushshift')
                self.limit = len(all_ids)

TypeError: '>' not supported between instances of 'NoneType' and 'int'

So seemingly limit is None type. Or I've made a mistake somehow.

[2021-03-04 11:14] mattpodolak commented on #8
I'll look into this, but this makes sense.

Can you share the query you are running as well?

[2021-03-04 21:53] ninjainventor commented on #8
submissions = api.search_submissions(
        subreddit="wallstreetbets", limit=desiredLimit, before=beforeDate, after=afterDate, mem_safe=True)
    allOfSubmissions = [post for post in submissions]
    sub_ids = [post["id"] for post in allOfSubmissions]
    pprint.pprint(allOfSubmissions)
    sub_df = pd.DataFrame(allOfSubmissions)

    sub_df.to_csv('./'+inputSubreddit+'Submissions.csv', header=

[2021-03-05 05:38] jingjieli95 opened #9 "'api.search_submission_comment_ids' function only returns one comment id for a post with multiple comments"
Hi!

I have been trying pmaw to request pushshift reddit data. I am trying to get all the comment ids given a post/submission id using api.search_submission_comment_ids. An example of my code is:

[code]
However, it only returns one comment id from this requested submission id: `['dls663o']`. The request should have returned multiple comment ids according to the pushshift api: https://api.pushshif

[2021-03-05 11:29] mattpodolak commented on #9
Hi @jingjieli95 thanks for opening this issue, I'll look into this

[2021-03-05 11:36] mattpodolak commented on #9
I found the issue, this is due to a limit miscalculation for `ids`. I'll push out a fix in an hour or so

[2021-03-05 12:07] #8 closed

[2021-03-05 12:07] #9 closed

[2021-03-05 12:12] mattpodolak commented on #9
Closed this issue as this has been fixed in `v1.0.4`, please open another issue if you run into any problems

[2021-03-05 12:13] mattpodolak commented on #8
Closed this issue, as a fix was released for this in `v1.0.4`. Please open another issue if another problem arises

[2021-03-17 09:36] turmeric-blend opened #11 "Is there a way to turn off log response?"
Hi, is there a way to turn off the log response?

I0317 17:36:14.613399 139656604510016 PushshiftAPIBase.py:141] Remaining limit 2771
I0317 17:36:16.100443 139656604510016 PushshiftAPIBase.py:141] Remaining limit 2700
I0317 17:36:16.821416 139656604510016 PushshiftAPIBase.py:141] Remaining limit 2626
I0317 17:36:17.709720 139656604510016 PushshiftAPIBase.py:141] Remaining limit 2555
I0317 17:36:19

[2021-03-17 09:40] mattpodolak commented on #11
Hi @turmeric-blend, why do you need to remove to suppress the info logs?

I may consider moving some of these to the DEBUG level.

[2021-03-17 23:53] turmeric-blend commented on #11
For me I do have other logs that I want to see so this particular one pushes my other logs out of the terminal which is not ideal. Maybe it would be nice to have an option for this. Thanks!

[2021-04-17 17:24] ChrisPalmerNZ opened #12 "Strategy for missed posts?"
Hi Matt,

Thanks for pmaw - it's a very nice library you've created!

This is not a problem with pmaw, but with my understanding of how to use it.

I have executed a search_comments with the same before and after parameters in both psaw and pmaw. It was so much faster in psaw, I was amazed! But, success rate varied from 93% to 83%, so at the end I had 40,630 comments using pmaw compared to 40,762

[2021-04-17 17:51] mattpodolak commented on #12
Hi @ChrisPalmerNZ, the success rate metric which is printed represents how many requests are rejected due to rate-limiting from Pushshift, any failed request is retried automatically.

That's interesting that there was a different number of comments. Can you share the query that you ran? Were there any shards down while you ran the query?

The `safe_exit` feature is intended for long-running queri

[2021-04-19 12:26] ChrisPalmerNZ commented on #12
Hi @mattpodolak

Thanks for replying, sorry its taken me a while to get back to you.

I used the same subreddit, start, end and parameters, and query for both libraries, they were subreddit=CovidVaccinated', before=1618581599, and after=1606262347.

And the query (<api> signifies that I used either psaw or pmaw):
[code]

I didn't check shards, should I execute an api.metadata_.get('shards') to che

[2021-04-20 10:32] mattpodolak commented on #12
I'm currently working on troubleshooting what happened to those 100 missing comments.

The number of comments returned by `psaw` is likely incorrect, I ran your query directly against Pushshift, the metadata indicates that there are only 40730 total results available.

https://api.pushshift.io/reddit/search/comment/?after=1606262347&before=1618581599&subreddit=CovidVaccinated&metadata=true

[code]

[2021-04-20 12:13] mattpodolak commented on #12
Additional update, I ran your query with both `psaw` and `pmaw`.

`psaw` returned 38326 unique comments, while `pmaw` returned 40729 unique comments.

I am currently investigating why there was 1 comment missed, I'll release an update sometime this week once I discover the root cause.

[2021-04-20 22:02] ChrisPalmerNZ commented on #12
Than(40,730) ks for doing this Matthew. I ran the pmaw query a day after the psaw one, and I noticed at that time that it said that fewer posts were available than what psaw returned. I measured the number of posts from both libraries by the length of the data, rather than any reporting by the library. I am not currently in front of my PC, but I have saved the data so when I get home tonight I wil

[2021-04-21 07:04] ChrisPalmerNZ commented on #12
Hi Matthew
I looked at my data, and realize that I transposed the last 2 digits of the psaw data - it was 40,726 rather than 40,762.  Which agrees with what you reported for psaw. However, my data from pmaw was less at  40,630. Perhaps I was unlucky and there were shards down - can you advise me how I should have tested for that? I am happy to email the IDs to you if that helps your inquiry.

[2021-04-21 11:04] mattpodolak commented on #12
Usually, if shards are down a warning should be printed in both `pmaw` and `psaw`. However, it seems like there was some data inconsistency issue on the side of Pushshift which has caused the same query to return a different amount.

I would refer to the number of items available reported by `pmaw`: "40730 results available in Pushshift," as a baseline for the number that you should expect to be r

[2021-04-21 12:01] mattpodolak opened #13 "Sometimes items can be missing in results"
**Test Query:**
[code]

**Results:**
[code]

Discovered in #12

[2021-04-21 12:08] mattpodolak commented on #13
Originally I thought this was due to a rounding error during the generation of time slices.

This was disproven by testing the number of unique epoch times in the time slice array, if there was a rounding error the number of unique results would not equal `num + 1` (to create `num` slices we use `num+1` unique datetimes)

This could be due to how the database is queried during time slicing. The ol

[2021-04-21 12:24] mattpodolak commented on #12
Two issues discovered thanks to this issue:

1. Duplicate results can be included if a query with `before` and `after` misses result(s) - fixed in `v1.0.5`
2. Missing results can occur for queries that specify `before` and `after` - will be tracked in #13

[2021-04-21 12:24] #12 closed

[2021-04-21 12:25] mattpodolak commented on #11
Reduced unnecessary `INFO` and `DEBUG` logging in `v1.0.5`

[2021-04-21 12:25] #11 closed

[2021-04-21 12:25] mattpodolak commented on #5
Fixed in `v1.0.5`

[2021-04-21 12:25] #5 closed

[2021-04-21 17:21] ChrisPalmerNZ commented on #12
Thanks for all of that Matt - I'm glad, and very impressed, that my issue resulted in your devoted attention, and that it led to an improvement - its a great product! BTW, last night I re-ran the query and got all 40,730 results.

[2021-04-22 21:52] mattpodolak commented on #12
No problem, thanks for reporting the issue. It's worth noting that the 40,730 results that `pmaw` returned to you likely has a single duplicate.

I'm still working on figuring out the root cause, but `v1.0.5` will not add duplicate results.

[2021-05-21 02:11] itang1 opened #16 "fields parameter"
Hi. I'm drawing blank datasets when I try to use the `fields` param to filter for specific fields (in order to reduce bandwidth).

This is what I want to do:
`comments = api.search_comments(subreddit=subreddit, limit=100, before=before, after=after, sort_type="score", fields="body,score,author,created_utc")`

This feature is supposed to be supported by Pushshift ([Pushshift: Using the fields param

[2021-05-21 10:52] mattpodolak commented on #16
Hi @itang1 `pmaw` supports a single field such as `fields="body"` or a list of strings such as `fields=["body","score","author","created_utc"]`

[2021-05-21 10:52] #16 closed

[2021-05-27 10:33] mattpodolak opened #18 "Increase specificity of try catch blocks"
There are several try catch blocks that can be improved by specifying the exceptions that are expected to occur. This will help avoid unexpected behaviour which can be caused by the wide scope of the current implementation.

[2021-05-27 10:35] mattpodolak opened #19 "Add unit testing framework"
Testing is currently performed through various Jupyter notebooks on my local machine which is quite inefficient and prone to error. This could be improved by slowly adding unit tests for various components to ensure they work as expected.

[2021-05-27 10:38] mattpodolak commented on #7
This could be expanded by increasing the generality of the caching mechanism to identify the type of file used in the cache and load accordingly.

Saving responses to cache should be performed with a default type (pickle/parquet/feather/jay) - whichever is fastest, with optional config to select a caching function.

[2021-06-05 18:22] Hastte opened #20 "Score parameters"
Hello
When i try  `api.search_submissions(subreddit="science", limit=None, score>=1000`
I get an error` SyntaxError: positional argument follows keyword argument`
Do you know how to fix it ?
Thanks

[2021-06-05 18:27] mattpodolak commented on #20
Hi @Hastte, can you try the following: `api.search_submissions(subreddit="science", limit=None, score=">1000")`

[2021-06-05 18:57] Hastte commented on #20
Yes that's kinda work buuut, i get less result than usual using pushshift api directly

[2021-06-05 19:21] mattpodolak commented on #20
Can you share your queries?

I tested the score parameter and got the results I expected, using Pushshift directly we can see 16 results exist (https://api.pushshift.io/reddit/search/submission/?q=dodo%20bird&metadata=true&score=%3E1000).
[code]

Using the same query, re-written in pmaw, we get 16 results:
[code]

[2021-06-05 19:49] Hastte commented on #20
![image](https://user-images.githubusercontent.com/41826976/120903638-a77e9300-c647-11eb-8651-98688a841d7a.png)
![image](https://user-images.githubusercontent.com/41826976/120903681-d563d780-c647-11eb-9d59-166b4b0f02ee.png)
![image](https://user-images.githubusercontent.com/41826976/120903693-ea406b00-c647-11eb-9930-95e42e1572ce.png)

And now it's the opposite

[2021-06-05 20:22] mattpodolak commented on #20
Your score parameter for Pushshift is malformed, "score>20000" should be "score=>20000".

This is the correct query: https://api.pushshift.io/reddit/search/submission/?subreddit=science&metadata=true&score=%3E20000

It has the same number of results as pmaw so I will be closing this issue.

[2021-06-05 20:22] #20 closed

[2021-07-01 01:20] SayonB opened #21 "Why can't I query all comments in the last 7 days?"
Why does this return `0 result(s) available in Pushshift`

[code]

while if I directly query pushshift using the same parameters, I get results.

[code]

`https://api.pushshift.io/reddit/comment/search?after=1624497069`

In addition: apparently, an integer value is needed, but only works if a subreddit or query term is given
[code]
[code]
[code]

[2021-07-04 20:28] mattpodolak commented on #21
Hi @SayonB , yes an integer value is required for the before and after parameters.

I'm not sure what you mean. Can you provide an example query with what you expected to happen and what actually happened?

[2021-07-25 21:13] nnnnnnn1 opened #22 "** new to github/programming (so might be a dumb question)** Module is pulling multiple duplicates for each Submission"
Again, not sure how to ask a question....but I have been using the 'search_submissions' class and it is pulling multiple duplicates for each submission. Is there something I am doing wrong?

[2021-07-25 23:02] mattpodolak commented on #22
Hi, can you please provide the code you are running, pmaw version, the log output / result, and the expected output/result?

[2021-08-28 12:18] #22 closed

[2021-08-28 12:18] #21 closed

[2021-09-04 12:51] dukesun99 opened #23 "Successful Rate 0% when batch loading comments by ids"
I found a strange bug, basically when calling search comments, large `max_ids_per_request` will result in 0% successful rate and forever retry. Maybe the result is too long?

To reproduce:
[code]

The above code works if we change to `max_ids_per_request=500`.

[2021-09-06 22:08] mattpodolak commented on #23
Hi @dukesun99 it looks like Pushshift has started returning 520s for requests with 1000 ids, I'll include an update in the upcoming v2 release to set the maximum value to 500

[2021-09-11 15:34] #23 closed

[2021-09-11 15:34] #18 closed

[2021-09-11 15:35] #19 closed

[2021-09-15 14:13] YukunYangNPF opened #25 "Incorrect Number for Items Remaining when Recovering Cache"
I've posted this issue on reddit; transfer it here as a formal issue report.

My initial requests:
`posts = api.search_comments(subreddit='de', limit=None, mem_safe=True, safe_exit=True)`

The metadata I obtained from this initial response.
Here is the timestamp I have:

`Setting before to 1631651549`

`Response cache key: 186e2bb94155846df2c5d321b768b8cb`

`10380641 result(s) available in Pushshi

[2021-09-16 00:44] YukunYangNPF commented on #25
Tested several times.

If initiate with no before parameter and then use the printed timestamp as the "before" to resume, the first try to resume will NOT load the initial requests. It will show no cached requests loaded and start all over. When you re-run the query again with the before value, it will load the first resume attempt, but as the items remaining start over, the scraping also restarte

[2021-09-30 19:57] mattpodolak commented on #25
Hi @YukunYangNPF I investigated this issue, and there appears to be a logging issue when the cache is loaded. I found when I ran your example code that the cache **was** being loaded, but not being reported as loaded.

I have added a static method in `v2.1.0` that will allow you to load responses directly from the cache to work with, as well as I have modified the logging so that its clear when th

[2021-10-03 17:57] peterjschroeder opened #27 "comment.parent()"
With psaw hooked into praw I can get a comment's parent comment as an object by call comment.parent(). Is there a way to do this in pmaw? If not, would you consider adding it?

[2021-10-07 14:26] XavierRigoulet opened #28 "list index out of range"
Hello,

After running the script for some time, I get list index out of range. Here is a screenshot of the error:
![Screenshot 2021-10-07 150928](https://user-images.githubusercontent.com/30647233/136404323-7c364b51-068d-4a41-8fc6-89bd0fb0c5b6.png)

Do you know the cause of the error?

Thank you!

[2021-10-10 20:46] ReichYang opened #29 "Slow running time for scrapping all subs for an author"
Hi. I'm trying to use pmaw to iterate a list of usernames and scrape all their submissions and comments.

It turns out to be very slow.

Using pmaw:

[code]

It took 7s to scrape 300+ submission
![image](https://user-images.githubusercontent.com/22743682/136712320-66cbbde9-3b53-47a5-bc52-07be95c7c01e.png)

Using pmaw, it took several minutes to finish it:

[code]

![image](https://user-images.gith

[2021-10-10 21:13] mattpodolak commented on #29
Hi @ReichYang can you try running again with the default number of workers (10)? For a small number of results using more workers can slow the completion time for multiple reasons. Aside from the overhead of multithreading, fewer submissions are retrieved in each request, and there is more competition between workers, causing requests to fail.

If you are expecting <1000 results for a query, using

[2021-10-10 21:28] ReichYang commented on #29
@mattpodolak Hi. Please see my screenshots. It is still considerably slower than just requesting pushshift.io API or using psaw.

Using default number of workers.
![image](https://user-images.githubusercontent.com/22743682/136713403-6e2b09a6-4e38-4b7f-841d-08b6d6abdb77.png)

Using 2 workers.
![image](https://user-images.githubusercontent.com/22743682/136713436-88976d1c-98c0-46b3-b484-fd26ed74888d.

[2021-10-12 21:51] TheConfax opened #30 "Random number of Enhanced Items"
With 1873 results available in Pushshift i get a variable enrichment between 200 and 30 items.
Does that mean that the other items were as same as Pushshift or that they were not checked?

Code below

[code]

[2021-10-13 13:04] mattpodolak commented on #30
By random enrichment do you mean the number of items being reported as enriched ("Finishing enrichment for x items")?

When you store the values in a dataframe are all the values enriched?

PRAW enhancement occurs on multiple threads (during idle time) while retrieving items from Pushshift. When all items are retrieved from Pushshift, enrichment may / may not be completed as well. If there are som

[2021-10-13 20:38] #30 closed, assigned to nobody

[2021-10-29 04:53] SwiftWinds opened #31 "Get comments given list of submission ids"
I know you can get the list of comment IDs with `comment_id_dict = api.search_submission_comment_ids(ids=post_ids)` and you can get a list of actual comments from a _single_ submission ID with `comments = list(api.search_comments(subreddit, link_id=post_id))`.

Any way to get a list of actual comments from a list of submission IDs?

I know I can probably for loop through the submission IDs and cal

[2021-11-01 13:53] mattpodolak commented on #31
Hey @SwiftWinds, unfortunately, the way you described is the best way to get a list of comments from a list of submission IDs

[2021-11-05 03:44] SwiftWinds commented on #31
I see... would it make sense to run each `api.search_comments` call in parallel (e.g., via asyncio or multiple threads)? Or would sequentially via a for loop make more sense?

[2021-11-09 14:13] pavkriz commented on #28
Same error here. I do one `api.search_comments` for every day (shifting `before` and `after` by 24 hours among calls) and it works fine for some days (`before`+`after` timerange) and always fails for another particular day (timerange). So it's probably not random, rather systematic.

[2021-11-09 15:11] mattpodolak commented on #31
Running each `search_comments` in parallel will cause a bottleneck due to the rate limiting, the for loop should be preferred as Pushshift will reject less requests.

Another thing you could try is using two PMAW methods sequentially, maybe something like this:

[code]

If you run api.search_comments via

[2021-11-09 15:12] mattpodolak commented on #28
Thanks for the updates! I'll be pushing out a fix for this later this week

[2021-11-10 15:39] SwiftWinds commented on #31
OK, I ran this method:
[code]
and it's way faster than doing so via `api.search_comments(subreddit=subreddit, link_id=post_id)` in a for loop (~20 seconds vs ~400 seconds). However, it's returning far fewer comments (1095 vs 5012). Do you know why that might be the case? I can provide code examples comparing the two if you'd like.

[2021-11-11 00:58] mattpodolak commented on #31
Thats a huge discrepancy, can you provide the code required so I can run this and look into it further?

[2021-11-15 02:11] SwiftWinds commented on #31
Sure! Here's a minimal example: https://replit.com/@matetoes/fetch-comments-pmaw#main.py

Thanks :)

[2021-11-21 11:59] SwiftWinds commented on #31
Sorry for the bump, but did you get a chance to take a look at my example?

[2021-11-29 11:17] pavkriz commented on #28
Adding DEBUG log:
[code]
then the error is raised because `remaining` is > 0 but `len(data)` is 0, so there is no record to get `created_utc` from.

[2021-11-29 13:59] pavkriz commented on #28
My dirty "hotfix" (probably could be done better) in `PushshiftAPIBase._futures_handler`:

[code]

[2021-11-29 15:24] mattpodolak commented on #28
Thanks @pavkriz, I implemented a modified version of your hotfix!

[2021-11-29 15:26] #28 closed

[2021-11-29 20:01] challos opened #33 "How to not enrich certain values using PRAW?"
The fact that results can be enriched with current data is really nice, but is there a way to select what values to enrich or at least exclude certain ones? For example, I want the current amount of upvotes on a post at any given time, but I don't want the updated subscriber count as I'd like to be able to see changes in it over time. Is this already a feature, or am I just doing something wrong?

[2021-11-29 20:51] mattpodolak commented on #33
hey, this is the right place to ask!

currently there is no way to choose what values are enriched by PRAW and what ones are kept from Pushshift. I'll keep this feature in mind for future development

[2021-11-30 16:40] SwiftWinds commented on #31
Hm, I see. Why is `search_submissions` returning such inconsistent results? Any workarounds? I guess I could fall back to the slow method if I see that `search_submissions` has returned an inconsistent result, but how would I know that it is inconsistent (e.g., it could be possible that there are 0 comments in that particular thread).

[2021-12-01 22:29] Volta1r3 opened #34 "How do I sort by date?"
Can I pass a parameter to the wrapper to responses by date created? Not clear in documentaiton

[2021-12-01 23:55] mattpodolak commented on #34
Parameters for sorting are from the Pushshift API directly and additional info on them can be found in the Pushshift documentation [here](https://github.com/pushshift/api)

[2021-12-01 23:55] #34 closed

[2021-12-02 15:44] mattpodolak commented on #31
It's more so that Pushshift itself is returning the inconsistent results, and the PMAW wrapper is passing them along to you. I cant really speak to whats happened to the DB to cause this, but if you find a large disparity for your queries and are dealing with low volumes you can use PRAW and grab the data directly from reddit.

[2021-12-03 05:33] SwiftWinds commented on #31
I see. My application is real-time, so I can't really deal with the slow retrieval times of PRAW or the `api.search_comments(subreddit, link_id=post_id)` method. I've resolved to simply add `.json` at the end of the Reddit URL (like this: https://www.reddit.com/r/algotrading/comments/cr7jey/ive_reproduced_130_research_papers_about.json), and it seems to perform way faster than pushshift or praw. H

[2021-12-03 05:33] #31 closed

[2021-12-07 23:12] ReichYang opened #35 "IndexError: list index out of range"
Hi, there. I'm running into this error for the scraping for submissions. Could you let me know why and how can I get pass it?

[code]

[code]

[2021-12-08 03:52] mattpodolak commented on #35
Hi, what version of pmaw are you using? I was working on fixing this issue in the latest release

[2021-12-08 04:01] ReichYang commented on #35
@mattpodolak Hi, I'm using 2.00. Also, I encountered a memory error even I have mem_safe as True.

[code]

[2021-12-08 04:09] mattpodolak commented on #35
Can you try updating to the latest version? This will solve the issue with the index error.

Enabling memory safety means that pmaw wont trigger a memory error during retrieval as the results will be stored in a cache on disk.

The memory issue will arise if you try to iterate through every result at one time.

I would recommend iterating through the generator in batches to solve this.

[2021-12-08 18:50] eryk-mazus opened #36 "Successful Rate 0% no matter what"
Hi,

I found a strange issue, similar to [#23](https://github.com/mattpodolak/pmaw/issues/23).  Basically, now matter what I do I get 0% Successful Rate when trying to fetch comments by their ids. I tried to pass the ids as list and as a joint string with ids delimited by  `,`.

Below is the reproducible example with sample of ids that I want to fetch:

[code]

[2021-12-08 19:09] mattpodolak commented on #36
thanks for reporting this issue! i'll take a look

[2021-12-08 20:54] Randcd415 commented on #36
I'm experiencing this as well.

[2021-12-09 00:31] mattpodolak commented on #36
It looks like theres currently an issue with the id search on Pushshift, the [example comments id search query](https://api.pushshift.io/reddit/comment/search?ids=dlrezc8,dlrawgw,dlrhbkq) provided in the Pushshift API documentation returns an Internal Server Error

[2021-12-19 20:53] pavkriz commented on #28
#32  fix does not work well. In some situation, it stucks in an infinite loop repeating the last request (returning no data):
[code]

This hotfix works for me:
[code]
[code]

[2021-12-28 00:05] jonlee112 opened #37 "Help encoding a search query for multiple keywords"
Hi there, I would like to use your wonderful wrapper PMAW to conduct the following data search for all comments with the following keywords "don't hate" AND "Thomas" (i.e., any comments that contain "don't hate" and "Thomas" somewhere).

The call to the pushshift api directly works fine:
https://api.pushshift.io/reddit/comment/search?q=%22don%27t%20hate%22+Thomas

However, I cannot figure out how

[2021-12-30 19:32] mattpodolak commented on #37
Hey @jonlee112, you can do it like this:

`comments = api.search_comments(q='"don\'t hate"+Thomas')` - returns 1044 comments which is the same as what is reported when querying directly https://api.pushshift.io/reddit/comment/search?q=%22don%27t%20hate%22+Thomas&metadata=true

[2021-12-30 19:32] #37 closed

[2021-12-31 04:21] jonlee112 commented on #37
@mattpodolak thanks so much!

[2022-01-06 19:10] jonlee112 opened #38 "How to skip a request if taking too long?"
Sometimes a request within a loop of requests ends up going through hundreds (thousands?) of batches trying to locate 1 single comment. I'd rather just skip that comment and move on to the next request. Any way to implement this in the code?

example output:
  INFO:pmaw.PushshiftAPIBase:Checkpoint:: Success Rate: 100.00% - Requests: 19 - Batches: 10 - Items Remaining: 1
  INFO:pmaw.PushshiftAPIBas

[2022-01-06 19:34] mattpodolak commented on #38
Hi @jonlee112, i think this is related to an issue in the code where a bad request is repeatedly retried. I should be able to push a fix to `pmaw` addressing this scenario

[2022-01-06 19:35] jonlee112 commented on #38
@mattpodolak Thank you so much! Would be much appreciated as I could gather a lot more data overnight when I can't be around to monitor the progress.

[2022-01-07 17:38] HenryBlackie commented on #38
I've been having the same issue. I left a script running overnight and later realised it had made ~100,000 requests for the same 3 comments.

It can be consistently recreated with:
`results = api.search_comments(subreddit='incels', after=1469919600, before=1470006000)`

[2022-01-07 18:16] mattpodolak commented on #38
fixed this issue in `2.1.2`

[2022-01-07 18:16] #38 closed

[2022-01-07 18:18] #35 closed

[2022-01-07 18:20] mattpodolak commented on #28
@pavkriz just added to v2.1.2 :D

[2022-01-07 19:42] jonlee112 commented on #38
Many thanks @mattpodolak !

[2022-01-24 19:04] Ldudu1108 commented on #37
Hi matt, could I ask about how to scraping comments that either contain "Key word A" or "Key word B" , that is to gather comments contains only A, only B or both A and B. For instance the key words are "GameStop" and "GME"? Thank you so much!

[2022-01-26 19:58] mattpodolak commented on #37
@Ldudu1108 hey, you might have some success with the || operator. I did a quick test using the api directly and it appears to have worked: https://api.pushshift.io/reddit/search/comment/?q=rome||greece&subreddit=askhistorians&after=30d

[2022-01-28 13:49] Ldudu1108 commented on #37
Dear Matt,

Thank you so much for your reply. I tried '|' and it worked. However I encountered another problem that I hope you could help me with.

I want to gather two sets of comments: 1. comment itself contains the keyword 2. comments of the post which contains the keyword (comment itself might not include the keyword) and concatenate them, dropping all duplicates based on comment id.

The resu

[2022-01-28 16:09] #29 closed

[2022-01-28 16:10] #36 closed

[2022-01-28 16:13] mattpodolak commented on #37
@Ldudu1108 I cant see an attach ipynb file, but I think someone else was facing a similar issue here: https://github.com/mattpodolak/pmaw/issues/31

If you have further questions, please share the minimal amount of code required to reproduce the problem you're having

[2022-01-31 12:00] Ldudu1108 commented on #37
Sorry about that and i think the problem is different. I would really appreciate it if you could help me take a look. Thank you so much!

So I have searched two sets of comments in the same time period: one for comments themselves contain 'GameStop|GME' and second for comments which their posts contain  'GameStop|GME'. It showed me there is no overlap between the two sets of comments. But I have f

[2022-01-31 12:04] Ldudu1108 commented on #37
@mattpodolak  Sorry about that and i think the problem is different. I would really appreciate it if you could help me take a look. Thank you so much!

So I have searched two sets of comments in the same time period: one for comments themselves contain 'GameStop|GME' and second for comments which their posts contain 'GameStop|GME'. It showed me there is no overlap between the two sets of comments.

[2022-02-01 11:03] Ldudu1108 commented on #37
@mattpodolak Sorry about that and i think the problem is different. I would really appreciate it if you could help me take a look. Thank you so much!
So I have searched two sets of comments in the same time period: one for comments themselves contain 'GameStop|GME' and second for comments which their posts contain 'GameStop|GME'. It showed me there is no overlap between the two sets of comments. B

[2022-02-01 14:21] mattpodolak commented on #37
@Ldudu1108

Can you share the ids of the comments that were found in the second set containing Gamestop|GME but were not found in the first set?

There might be some issues with the parameters for the second set, when you search comments using their ids the `before` and `after` parameters may not be respected, also the `filter` parameter should be `fields`.

[2022-02-05 15:40] Ldudu1108 commented on #37
Thank you so much for your reply and sorry about the late response.I realised that i should not put time restriction when i search for posts. I should get all GME related posts and then select attached comments within my restricted time window. However, it shows that i have 201414 GME related posts in total and when i try to use the post id to get all comments, the search speed is extremely slow.

[2022-02-13 05:59] aryamansharma01 opened #40 "ChunkedEncodingError while scraping subreddit submissions"
Hi Matt, I'm trying to scrape subreddit posts within a time period of six months, with a limit set to none. After irregular periods of time however, the connection gets broken apparently. Following is the code snippet and the error. I tried restarting it multiple times, but the same issue comes up. Is there any way to ensure that all data is scraped in one go? Thanks

Code :
[code]
Error :

[2022-02-14 18:58] mattpodolak commented on #40
@aryamansharma01  I haven't seen this error before, I'll take a look.

[2022-02-18 00:30] apoorva1225 opened #41 "Unable to fetch comments by ID"
#comment_id is list of string
comments_arr = pushshift_api.search_comments(ids = comment_ids)

output Error: INFO:pmaw.PushshiftAPIBase:Total:: Success Rate: 87.50% - Requests: 16 - Batches: 4 - Items Remaining: 6720
/usr/local/lib/python3.7/dist-packages/pmaw/Request.py:230: UserWarning: 6720 items were not found in Pushshift
  f'{self.limit} items were not found in Pushshift')

Question:  Is it

[2022-02-28 23:22] kumarde opened #43 "Fetching comments never completes"
Hi there!

I have a very simple PMAW script:

[code]

The script takes in IDs from a file, puts them into a list, and passes them into search_comments.

This script has worked fine once (en masse for lots of IDs), but for some reason, it now never completes on even a test set of 10 IDs. I'm certain I must be doing something silly, or the API has potentially changed. Could someone point me in the r

[2022-03-01 23:44] cerdwin commented on #40
I run into this issue as well, nominally with larger amounts. Is there maybe a chance there is some spillover size-wise with the limit parameter?

[2022-03-06 12:52] YvesMG1 commented on #40
For me the same issue. I have downloaded several months of Wallstreetbets data without any problem but since a few days ago the issue keeps incurring. Did you already find y solution?

[2022-03-06 13:30] shimonShouei commented on #40
No. I think it's related to the issues with the server of pushshift...

[2022-03-15 01:17] ReichYang commented on #40
Does anyone have a solution? Can we have the problematic ones skipped? Currently mine just stuck halfway for a scarping.

[2022-03-15 02:03] mattpodolak commented on #40
@ReichYang when i was looking into this before it appeared to be a connection issue between the client and server.

It would help to see any debug logs from when this error occurs to try to pinpoint what is causing this

[2022-03-15 02:18] ReichYang commented on #40
Thanks for the speedy response. I think mine is also connection error, but I tried several times and it just kept on throwing this error.

ChunkedEncodingError: ("Connection broken: InvalidChunkLength(got length b'', 0 bytes read)", InvalidChunkLength(got length b'', 0 bytes read))

I'm wondering if we can have a parameter that can ensure the scraping won't stop just because of this kind of issue,

[2022-03-15 02:26] ReichYang commented on #40
@mattpodolak Hey, I just encountered another one. And here is the error log.

[code]

[2022-03-23 01:33] aryamansharma01 commented on #40
Hi guys, original poster here. I played around with the libraries a bit and found that when i installed different version of urllib3 and requests, the error no longer appeared. Also I think it might help if one tries to scrape small amounts of data at a time.

[code]

Hope this helps!

[2022-04-01 18:47] Jhann024 opened #44 "Issues with search_comments and search_submission_comment_ids"
Ive been working on a project where I am gathering large amounts of comment data and I have ran into two issues with each of these functions. The first issue I ran into when using the search_submission_comment_ids function is that when searching post comment ids, there returns zero comments for any post following November 26th 2021, as well as periodically prior to this date (although I haven't do

[2022-04-05 16:17] apoorva1225 commented on #41
Hi @mattpodolak, this query is not work. It continues to give me the same error -----/usr/local/lib/python3.7/dist-packages/pmaw/Request.py:230: UserWarning: 45 items were not found in Pushshift
  f'{self.limit} items were not found in Pushshift')

Could you please suggest a fix for this?

[2022-05-07 18:13] dunovank commented on #41
I'm having the same issue. Is there a status update on this?

[2022-06-01 23:51] shaunmb98 commented on #44
Having the same issue with comments after November 26th. Everything before that works fine, everything after is blank using these methods.

[2022-07-03 00:52] spooky-ape-butt-42069 commented on #44
Same. Gathering comment ids coming up empty when they really shouldn't be coming up empty.

[2022-07-29 11:13] reinoldus commented on #44
It seems to be an API problem: https://github.com/pushshift/api/issues/92

[2022-08-08 18:18] preshmalinetpereira opened #45 "Cannot pass https_proxy parameter to PushShift function"
In psaw and Pushshift allows passing a proxy for the request. I want to use pmaw but we use proxies heavily and hence cannot or Is there a way to do it and i don't know

PushshiftAPI(https_proxy=proxy)

[2022-09-16 10:32] kadnan opened #47 "Confusion about multithreading"
Hi

When I call :

[code]

[code]

And
[code]

How it makes `search_submissions` mutithreaded? ain't both psaw and pmsaw making a single REST call to PushShift?

[2022-09-16 13:44] mattpodolak commented on #47
hey @kadnan, `search_submissions` is multithreaded by splitting up a request into many smaller requests that are divided across multiple threads. You can see where that happens [here](https://github.com/mattpodolak/pmaw/blob/master/pmaw/PushshiftAPIBase.py#L261-L269)

[2022-09-16 13:44] #47 closed

[2022-09-28 18:00] rosendyakov opened #48 "signal only works in main thread"
Hello, I'm currently developing a very simple Flask app, running only locally and I wanted to scrape some Reddit posts, using your API. I followed the example, as it's specified in the documentation, however whenever I run my script, I get the following error:

ValueError: signal only works in main thread

I read that Flask-SocketIO package causes this, but I saw that this project uses Websocket-c

[2022-09-29 17:36] mattpodolak commented on #48
hey @rosendyakov can you provide the following info, and the minimum amount of code needed to re-create the issue? This will help me as I look into this further:

python version:
flask version:
pmaw version:

[2022-11-10 22:41] mlinegar commented on #43
I'm running into this as well! Did you ever figure out a workaround?